extends layout

block content
    br
    p.text-primary To play - Move using WASD. Avoid touching UFOs. Score is based on how long you go without touching a UFO.
    p.text-info Demo game only. I just threw this together to see the effort necessary to put together a minimum viable game.

